/* this is 800px to 1000px */
.container {
  height: 697px;
  

  background-image: url("../../images/cut1001.svg");
  background-repeat: no-repeat;

  background-position-x: calc(506 / 1001 * 100%);
}

.landingTextBox {
  
  width: 312px !important;
  
}

@media (max-width: 600px) {
  .container {
    height: 920px;

    background-image: url("../../images/mobileTri624.svg");
    background-repeat: no-repeat;
    
    background-position-y: 300px;
  }

  .landingTextBox {
    
    min-width: 238.36px !important;
    min-height: 151.72px !important;
  }
  .codeSide {
    margin-top: 4rem;
    width: 100%;
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    min-width: 238px;
    max-width: 319px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .container {
    height: 623px;
   

    background-image: url("../../images/cut850.svg");
    background-repeat: no-repeat;
background-position-x: calc(430 / 852 * 100%); 
   
  }

  .landingTextBox {
    max-width: 266px;
    
    
  }
}

@media (min-width: 1001px) and (max-width: 1279px) {
  .container {
    height: 768px;
    

    background-image: url("../../images/cut1280Stretch.svg");
    background-repeat: no-repeat;

    background-position-x: calc(648 / 1282 * 100%);
  }

  .landingTextBox {
    width: 400px !important;
    
  }
}

@media (min-width: 1280px) and (max-width: 1650px) {
  .container {
    height: 932px;
    

    background-image: url("../../images/cut1650Stretch2.svg");
    background-repeat: no-repeat;

    background-position-x: calc(834 / 1652 * 100%);
  }

  .landingTextBox {
    width: 515px !important;
    
  }
}

@media (min-width: 1650px) {
  .container {
    height: 1060px;

    background-image: url("../../images/cut1920.svg");
    background-repeat: no-repeat;

    background-position-x: calc(963 / 1938 * 100%);
  }

  .landingTextBox {
    width: 605px !important;
    
  }
}
