/* this is 800px to 1000px */
.landingTextBox{
    min-width: 312px !important;
    
  }
  
  @media (max-width: 600px){
    
    
    .landingTextBox{
      min-width: 238.36px !important;
     
    }
   
  
  }
  
  @media (min-width: 600px) and (max-width: 800px){
    
    
    .landingTextBox {
      min-width: 266px !important;
     
    }
    
  
  
  }
  @media (min-width: 1001px) and (max-width: 1279px){
    
    
    .landingTextBox{
      min-width: 400px !important;
      
    }
  
  }
  
  @media (min-width: 1280px) and (max-width: 1650px){
    
    
    .landingTextBox{
      min-width: 515px !important;
      
    }
  
  }
  
  @media (min-width: 1650px) {
    
    
    .landingTextBox{
        
      min-width: 605px !important;
      
    }
  
  }

  .logo{
      position: absolute;
      top: 1rem;
      left: 2rem;
  }

  @media(max-width: 730px) and (min-width: 599px){
      .logo{
          
          opacity: .1;
      }
  }
  @media(max-width: 600px){
    .logo{
        top: 1.5rem;
        left: 2rem;
        
        
    }
}

  .fab{
    position: fixed !important;
    top: 2rem;
    right: 2rem;
    z-index: 1000 !important;
}

.nav{
    position: absolute !important;
    top: 0;
    max-width: 1920px !important;

}